*
{
    box-sizing: border-box;
}
header h1
{
font-size: 40px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#photo-template h2 {
    font-size: 20px;
    padding-bottom: 11px;
    font-weight: bolder;
}
#photo-template
{
    padding-bottom: 8%;
}
.hourse-box {
    border: 3px solid #00b5ad;
    background-color: #718999;
}

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}


